* {
    box-sizing: border-box;
    color: white;
}

/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(34, 37, 41);
}

.index-wrapper {
    display: grid;
    grid-template-rows: 5fr 1fr;
    height: 100vh;
}

.header {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    padding: 50% 0;
    
    background-image: url("./images/index-background.png");
    background-size: cover;

    color: white;


}

#description {
    margin: 0 5%;
    padding: 0 10%;
}

#login{
    color: white;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}

#login > button {
    width: 50%;
    margin: 0 auto;

    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: .5em;
}

header {
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 2% 5%;
    margin: 0 2%;
    background-color: rgb(34, 37, 41);
    border-bottom: solid antiquewhite 1px;
}

header a {
    padding: 2%;
    
    color: white;
    text-decoration: none;

}

#playlists-wrapper {
    background-color: rgb(34, 37, 41);
}

#playlists-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 2% 0;
    border: rgb(137, 137, 137) solid .3em;
    border-radius: .5em;
    color: white;
}

.playlist:hover, #link:hover {
    cursor: pointer;
}
/* 
.playlist h2 {
    margin: 5%;
} */


.playlist img {
    width: 100%;
}

#playlist-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 0 ;

}

#playlist-main img {
    width: 60%;
    height: auto; 
    margin: 0 5%;  
}

#buttons-playlists button {
    display: block;
    color: black;
}

.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border: rgb(137, 137, 137) solid .1em;
    border-radius: .5em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: black;
    background-color:rgb(137, 137, 137);
    text-align:center;
    transition: all 0.2s;
    }
    a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

@media only screen and (min-width: 768px) {
    .playlist {
        width: 24%;
    
    }

}

@media only screen and (max-width: 768px) {
    .playlist {
        width: 47%;

    }

}